/* Courtney Cook's CSS */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 50px;
  background-image: url(images/pink-city.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img {
  border: 2.5px solid white;
  border-radius: 100px;
  overflow: hidden;
  height: 100px;
  width: 100px;
  margin: 0 auto;
}

.img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* for border around icons */
.fa-inverse {
  margin-left: 15px;
  border: 1.5px solid white;
  border-radius: 100%;
  background-image: center;
  padding: 4px;
  justify-content: center;
}
/* for png facebook icon */
.f-img {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.fa-inverse-1 {
  margin-left: 15px;
  border: 1.5px solid white;
  border-radius: 100%;
  background-image: center;
  padding: 4px;
  transform: translateY(50px);
  filter: invert(white);
}

.font {
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  text-shadow: 2px 2px darkblue;
}

/* Jonas Kakaroto card styles */
.profile-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: left;
  background: #fff;
  height: 350px;
}

.image-container {
  width: 150px;
}

.title {
  color: green;
  margin-top: 4px;
  padding-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.paragraph {
  padding-left: 20px;
  padding-right: 20px;
}
/* For styles on icons */

.flex-container {
  display: inline-block;
  margin-right: 0px;
  margin-left: 20px;
  border: 1.5px solid green;
  border-radius: 100%;
  padding: 2px;
  width: 25px;
  height: 25px;
  text-align: center;
}

.flex-container-2 {
  display: inline-block;
  margin-right: 0px;
  margin-left: 15px;
  border: 1.5px solid green;
  border-radius: 100%;
  padding: 2px;
  width: 25px;
  height: 25px;
  text-align: center;
}

.flex-container-3 {
  display: inline-block;
  margin-right: 0px;
  margin-left: 15px;
  border: 1.5px solid green;
  border-radius: 100%;
  padding: 2px;
  width: 25px;
  height: 25px;
  text-align: center;
}

.cover-pic {
  display: block;
  width: 100%;
  height: 140px;
}

.profile-pic {
  width: 75px;
  border-radius: 100%;
  margin-top: -40px;
  height: 75px;
  margin-left: 15px;
  border: 3.5px solid #fff;
}
